<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="generictournamenttemplate" connectionString="Server=LAPTOP-BO2LOC8M;Database=generictournamenttemplate;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>